{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <h2>Register</h2>
    <form method="post">
        {% csrf_token %}

        <p>
            {{ form.first_name.label_tag }}<br>
            {{ form.first_name }}
            {{ form.first_name.errors }}
        </p>

        <p>
            {{ form.last_name.label_tag }}<br>
            {{ form.last_name }}
            {{ form.last_name.errors }}
        </p>

        <p>
            {{ form.username.label_tag }}<br>
            {{ form.username }}
            {{ form.username.errors }}
        </p>

        <p>
            {{ form.password1.label_tag }}<br>
            {{ form.password1 }}
            {{ form.password1.errors }}
        </p>

        <p>
            {{ form.password2.label_tag }}<br>
            {{ form.password2 }}
            {{ form.password2.errors }}
        </p>

        <button type="submit">Register</button>
    </form>
{% endblock %}
